<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../styles.css">
<body>
    <a href="../Contacto.html"> ir a Contacto </a>
    <a href="../index.html">About</a>
        <h1>Quien soy</h1>
<img src="../assets/portrait.jpg" alt="retrato">
<a href="../assets/Autumn Canopy.png" download> descargar imagen</a>
</article>
    <pre>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, velit ea dignissimos deleniti quae nobis minus quo perspiciatis placeat? Cumque reprehenderit molestias quos vero tenetur. Nemo soluta illum neque eveniet!
        <code> a + b = ?

            &lt; div &gt; &spades;
        </code>
    </pre>

      <form action="#" method="get" id="boton">
          <div>
            <label for="name">Nombre: </label>
            <input type="text" id="name" name="firstName" required>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
          </div>
                <label for="genero">Genero: </label>
                <label for="">Mujer</label>
                <input type="radio" id="genero">
                <label for="">Hombre</label>
                <input type="radio" id="genero">

                <label for="">Preferencias:</label>
                 <label for="">Pizza</label>

                <input type="checkbox" name="pizza" >
                <label for="">Pozole<label>
                <input type="checkbox" name="Pozole" >
            <input type="submit" value="Guardar">
            <input type="button" value="button">
         </form>
</body>    
</html>    