<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Quien soy</h1>
   <P>KMSNFKDNK:</P>
    <blockquote cite="https://www.google.com/">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quasi quidem voluptas alias dolores, ullam quos necessitatibus, saepe unde nemo rem eum deleniti. Unde excepturi aut suscipit dicta delectus doloribus.</blockquote>
</article>
</body>
</html>