<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../styles.css">
<body>
    <a href="../Contacto.html"> ir a Contacto </a>
    <a href="../index.html">About</a>
        <h1>Quien soy</h1>
<img src="../assets/portrait.jpg" alt="retrato">
<a href="../assets/Autumn Canopy.png" download> descargar imagen</a>
</article>
    <pre>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, velit ea dignissimos deleniti quae nobis minus quo perspiciatis placeat? Cumque reprehenderit molestias quos vero tenetur. Nemo soluta illum neque eveniet!
        <code> a + b = ?

            &lt; div &gt; &spades;
        </code>
    </pre>

      
</body>    
</html>    