@font-face {
  font-family:"Roboto";
  src:url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
 
}
*{
  font-family: "Roboto";
  text-align: justify;
}
table, td, th {
  border: 1px solid black;
}
img{
  width: 100px;
}
p{
  background-color: red;
}
#div1{
  margin-top: 30px;
  background-color:gold;
}
#div1:hover{
  background-color:green;
}
nav:hover{
   background-color: blue;
}
li:first-child{
  background-color: violet;

}
li:last-child{
  background-color: yellow;
  padding: 10px;
  background-color: cyan;
}
.parrafos1y2:hover{
  background-color: rosybrown;
}
.parrafos1y2{
  text-decoration: underline;
  text-transform: uppercase;
  padding: 20px 50px;
}
div{
text-shadow: 1px 1px 8px black;
}
.parrafos3y4{
  border: 10px;
  padding: 20px 20px;
  background-color: cyan;
  border-radius: 20px;
  border-style: double;
}
.contactP{
  margin: 50px;
}

#bgImgae{
  height:20vh;
  background-image: url("./pig-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.chino{
  width: 200px;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  background-color: blue;
  gap: 5px;

}
.container > div{
  background-color: aliceblue;
border: 2px black solid;
}
.item1{
  grid-column-start: 1;
  grid-column-end: 4;
}
.item2{
  grid-row: 2 / 10;
}
.item3{
  grid-column: 2 / 4;
}
.item8{
grid-column: 1 / 4;
}

.container2{
  display: flex;
  background-color: rgb(255, 141, 141);
  gap: 5px;
  justify-content: center;

}
.container2 div{
  background-color: white;
  padding: 10px;
  margin: 10px;
border: 2px black solid;
}

@media print  {
  .chino{
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px)  {
  .chino{
    display: none;
  }
  body{
    background-color: wheat;
  }
}

@media (min-width: 481px) and (max-width: 768px)  {
  .chino{
    display: none;
  }
  body{
    background-color: red;
  }
}

@media (min-width: 320px) and (max-width: 480px)  {
  .chino{
    display: none;
  }
  body{
    background-color: blue;
  }
}