@font-face {
  font-family:"Roboto";
  src:url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
 
}
*{
  font-family: "Roboto";
  text-align: justify;
}
table, td, th {
  border: 1px solid black;
}
img{
  width: 200px;
}
p{
  background-color: red;
}
#div1{
  margin-top: 30px;
  background-color:gold;
}
#div1:hover{
  background-color:green;
}
nav:hover{
   background-color: blue;
}
li:first-child{
  background-color: violet;

}
li:last-child{
  background-color: yellow;
  padding: 10px;
  background-color: cyan;
}
.parrafos1y2:hover{
  background-color: rosybrown;
}
.parrafos1y2{
  text-decoration: underline;
  text-transform: uppercase;
  padding: 20px 50px;
}
div{
text-shadow: 1px 1px 8px black;
}
.parrafos3y4{
  border: 10px;
  padding: 20px 20px;
  background-color: cyan;
  border-radius: 20px;
  border-style: double;
}
.contactP{
  margin: 50px;
}
img{
  width: 30%;
}
#bgImgae{
  height:20vh;
  background-image: url("./pig-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
